{% extends "jt_portfolio/base.html" %}
{% load static %}

{% block splash %}
<div class="view intro color-block teal" id="home">
  <div class="full-bg-img flex-center">
    <div class="container">
      <div class="white-text text-center">
        <h2 class="intro-heading wow fadeIn">I'm Jeff Torres</h2>
        <h3 class="intro-subtext wow fadeIn" data-wow-delay="0.2s">and I'm a web developer who loves Python.</h3>
        <li class="smooth-scroll wow fadeIn" data-wow-delay="0.4s"><a href="#about" class="btn-floating btn-large grey wow fadeIn" data-wow-delay="0.4s"><i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="container">
  <section id="about" class="section pt-3 pb-4">
    <h1 class="section-heading wow fadeIn">About me</h1>
    <div class="row wow fadeIn" data-wow-delay="0.2s">
      <div class="col-lg-4 mb-2">
        <img src="{% static '/profile_01.jpg' %}" alt="Jeff Torres Profile Picture">
      </div>
      <div class="col-lg-8">
        <p class="lead">I'm a newly minted developer based in Seattle looking for new and exciting opportunities.</p>
        <p>I’m a full-stack developer who is most comfortable utilizing Python, but able to quickly learn and utilize new languages. My prior experience as an IT support professional coupled with a detailed understanding of customer service and its unique challenges leaves me well suited to develop solutions that clients can effectively use and understand.</p>
      </div>
    </div>
  </section>
</div>
<div class="streak streak-lg">
<div class="flex-center">
  <ul>
    <li><h2 class="h2-responsive wow fadeIn"><i class="fa fa-quote-left" aria-hidden="true"></i> We are stuck with technology when what we really want is just stuff that works. <i class="fa fa-quote-right" aria-hidden="true"></i></h2></li>
    <li><h5 class="text-center font-italic wow fadeIn" data-wow-delay="0.2s">~ Douglas Adams</h5></li>
  </ul>
</div>
</div>
<div class="container">
  <section id="skills" class="section feature-box pt-3 mb-4">
    <h1 class="section-heading wow fadeIn">My skills</h1>
    {% comment %}
    <p class="section-description wow fadeIn" data-wow-delay="0.2s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet maiores aspernatur aut animi debitis. Ad excepturi dolor tempora at aperiam earum veritatis ullam. Culpa tempora possimus necessitatibus excepturi, quisquam officia.</p>
    {% endcomment %}
    <div class="row features-big wow fadeIn" data-wow-delay="0.4s">
      <div class="col-md-12 col-lg-4 mb-2">
        <i class="fa fa-code teal-text" aria-hidden="true"></i>
        <h4 class="feature-title">Languages</h4>
        <ul class="list-group z-depth-0 skills-table">
          <li class="list-group-item">Python 2/3</li>
          <li class="list-group-item">HTML5</li>
          <li class="list-group-item">CSS3</li>
          <li class="list-group-item">JavaScript</li>
          <li class="list-group-item">PostgreSQL</li>
        </ul>
      </div>
      <div class="col-md-12 col-lg-4 mb-2">
        <i class="fa fa-cogs teal-text" aria-hidden="true"></i>
        <h4 class="feature-title">Frameworks</h4>
        <ul class="list-group z-depth-0 skills-table">
          <li class="list-group-item">Django</li>
          <li class="list-group-item">Pylons/Pyramid</li>
          <li class="list-group-item">Bootstrap 3/4</li>
          <li class="list-group-item">jQuery</li>
        </ul>
      </div>
      <div class="col-md-12 col-lg-4 mb-2">
        <i class="fa fa-cloud-upload teal-text" aria-hidden="true"></i>
        <h4 class="feature-title">Deployment</h4>
        <ul class="list-group z-depth-0 skills-table">
          <li class="list-group-item">AWS</li>
          <li class="list-group-item">Ansible</li>
          <li class="list-group-item">Git</li>
          <li class="list-group-item">Heroku</li>
          <li class="list-group-item">GitHub</li>
          <li class="list-group-item">Linux</li>
        </ul>
      </div>
    </div>
  </section>
  {% comment %}
  <hr class="between-sections">
  <section id="contact" class="section mb-4">
    <h1 class="section-heading wow fadeIn">Contact me</h1>
    <p class="section-description m-b-5 wow fadeIn" data-wow-delay="0.2s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>
    <div class="row wow fadeIn" data-wow-delay="0.4s">
      <div class="col-md-8 mb-r">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="md-form">
                <div class="md-form">
                  <input type="text" id="form41" class="form-control">
                  <label for="form41" class="">Your name</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="md-form">
                <div class="md-form">
                  <input type="text" id="form52" class="form-control">
                  <label for="form52" class="">Your email</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <input type="text" id="form51" class="form-control">
                <label for="form51" class="">Subject</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <textarea type="text" id="form76" class="md-textarea"></textarea>
                <label for="form76">Your message</label>
              </div>
            </div>
          </div>
        </form>
        <div class="center-on-small-only">
          <a class="btn btn-primary">Send</a>
        </div>
      </div>
      <div class="col-md-4">
        <ul class="contact-icons">
          <li><i class="fa fa-map-marker fa-2x"></i>
            <p>Seattle, WA 98103, USA</p>
          </li>
          <li><i class="fa fa-envelope fa-2x"></i>
            <p>jeffrey.n.torres@gmail.com</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  {% endcomment %}
</div>
<div class="streak">
  <div class="flex-center">
    <ul>
      <li><h1 class="h1-responsive wow fadeIn">Want to hire me?</h1></li>
      <li><h4 class="h4-responsive wow fadeIn" data-wow-delay="0.2s">Send me a message at jeffrey.n.torres@gmail.com</h4></li>
    </ul>
  </div>
</div>
</main>
<div class="dotted-scrollspy hidden-sm-down">
<ul class="nav smooth-scroll flex-column">
  <li class="nav-item"><a class="nav-link" href="#home"><span></span></a></li>
  <li class="nav-item"><a class="nav-link" href="#about"><span></span></a></li>
  <li class="nav-item"><a class="nav-link" href="#skills"><span></span></a></li>
  {% comment %}
  <li class="nav-item"><a class="nav-link" href="#works"><span></span></a></li>
  <li class="nav-item"><a class="nav-link" href="#contact"><span></span></a></li>
  {% endcomment %}
</ul>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="{% static '/tether.min.js' %}"></script>
<script type="text/javascript" src="{% static '/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static '/mdb.min.js' %}"></script>
<script src="https://use.fontawesome.com/a0423217b5.js"></script>
<script>
$('body').scrollspy({
  target: '.dotted-scrollspy'
});
new WOW().init();
</script>

{% endblock %}
