<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<title>Material Design Bootstrap</title>

<!-- Meta OG -->
<meta property="og:title" content="Jeffrey Torres Portfolio" />
<meta property="og:description" content="Page designed by Jeffrey Torres as a portfolio for web design and software projects." />
<meta property="og:image" content="" />
<meta property="og:url" content="http://jeffreytorres.info" />
<meta property="og:site_name" content="jeffreytorres.info" />
<!-- /Meta OG -->

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="Page designed by Jeffrey Torres as a portfolio for web design and software projects." />
<meta name="twitter:title" content="Jeffrey Torres Portfolio" />
<meta name="twitter:site" content="@ilikesounds" />
<meta name="twitter:image" content="https://pbs.twimg.com/profile_images/763154335882620929/Pj_Vhfe0.jpg" />
<meta name="twitter:creator" content="@ilikesounds" />
<!-- /Twitter Card -->
