{% block nav %}
<nav class="navbar teal fixed-top navbar-toggleable-md scrolling-navbar">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto smooth-scroll">
        <li class="nav-item">
          <a class="nav-link white-text" href="#home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link white-text" href="#about" data-offset="100">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link white-text" href="#skills">Skills</a>
        </li>
        {% comment %}
        <li class="nav-item">
          <a class="nav-link white-text" href="#works">Works</a>
        </li>
        {% endcomment %}
        <li class="nav-item">
          <a class="nav-link white-text" href="#contact" data-offset="100">Contact</a>
        </li>
      </ul>
      <ul class="nav navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link white-text"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link white-text"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link white-text"><i class="fa fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
