{% block splash %}
<div class="view intro color-block elegant-color" id="home">
  <div class="full-bg-img flex-center">
    <div class="container">
      <div class="white-text text-center">
        <h2 class="intro-heading wow fadeIn">I'm Jeff Torres</h2>
        <h3 class="intro-subtext wow fadeIn" data-wow-delay="0.2s">and I'm a web developer who loves Python.</h3>
        <li class="smooth-scroll wow fadeIn" data-wow-delay="0.4s"><a href="#about" class="btn btn-floating btn-large btn-primary wow fadeIn" data-wow-delay="0.4s"><i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
      </div>
    </div>
  </div>
</div>
{% endblock %}
