<!DOCTYPE html>
{% load static %}
<html lang="en" class="full-height">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static '/mdb.min.css' %}">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
	<script type="text/javascript" src="{% static '/mdb.min.js' %}"></script>

	<title>The portfolio of Jeff Torres</title>

	<!-- Meta OG -->
	<meta property="og:title" content="Jeffrey Torres Portfolio" />
	<meta property="og:description" content="Page designed by Jeffrey Torres as a portfolio for web design and software projects." />
	<meta property="og:image" content="" />
	<meta property="og:url" content="http://jeffreytorres.info" />
	<meta property="og:site_name" content="jeffreytorres.info" />
	<!-- /Meta OG -->

	<!-- Twitter Card -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:description" content="Page designed by Jeffrey Torres as a portfolio for web design and software projects." />
	<meta name="twitter:title" content="Jeffrey Torres Portfolio" />
	<meta name="twitter:site" content="@ilikesounds" />
	<meta name="twitter:image" content="https://pbs.twimg.com/profile_images/763154335882620929/Pj_Vhfe0.jpg" />
	<meta name="twitter:creator" content="@ilikesounds" />
	<!-- /Twitter Card -->

</head>
<body class="grey-skin intro-page">

	<!--Navigation & Intro-->
	<header>

        <!--Navbar-->
		<nav class="navbar navbar-dark fixed-top navbar-toggleable-md scrolling-navbar">

			<div class="container">

				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

				<div class="collapse navbar-collapse" id="navbarNav">
					<!--Links-->
					<ul class="navbar-nav mr-auto smooth-scroll">
						<li class="nav-item">
							<a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#about" data-offset="100">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#skills">Skills</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#works">Works</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#contact" data-offset="100">Contact</a>
						</li>
					</ul>

					<!--Navbar icons-->
					<ul class="nav navbar-nav nav-flex-icons">
						<li class="nav-item">
							<a class="nav-link"><i class="fa fa-facebook"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link"><i class="fa fa-twitter"></i></a>
						</li>
						<li class="nav-item">
							<a class="nav-link"><i class="fa fa-instagram"></i></a>
						</li>
					</ul>
				</div>
				<!--/.Collapse content-->

			</div>

		</nav>
		<!--/.Navbar-->

		<!--Mask-->

		<div class="view intro color-block elegant-color" id="home">
			<div class="full-bg-img flex-center">
				<div class="container">
					<div class="white-text text-center">
						<h2 class="intro-heading wow fadeIn">I'm Jeff Torres</h2>
						<h3 class="intro-subtext wow fadeIn" data-wow-delay="0.2s">and I'm a web developer who loves Python.</h3>
						<li class="smooth-scroll wow fadeIn" data-wow-delay="0.4s"><a href="#about" class="btn btn-floating btn-large btn-primary wow fadeIn" data-wow-delay="0.4s"><i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
					</div>
				</div>
			</div>
		</div>
		<!--/.Mask-->

	</header>
	<!--/Navigation & Intro-->

	<!--Main layout-->
	<main>

		<!-- First container -->
		<div class="container">

			<!-- Section About -->
			<section id="about" class="section pt-3 pb-4">

				<!-- Section title -->
				<h1 class="section-heading wow fadeIn">About me</h1>

				<!-- First row -->
				<div class="row wow fadeIn" data-wow-delay="0.2s">

					<!-- Place for photo -->
					<div class="col-lg-4 mb-2">
						<img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20%2825%29.jpg" alt="My photo">
					</div>

					<!-- Text content -->
					<div class="col-lg-8">
						<p class="lead">I'm a freelance web developer with 8+ years of experience, based in San Francisco</p>
						<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi soluta ratione quisquam, dicta ab cupiditate iure eaque? Repellendus voluptatum, magni impedit eaque delectus, beatae maxime temporibus maiores quibusdam quasi.</span><span>Rem magnam ad perferendis iusto sint tempora ea voluptatibus iure, animi excepturi modi aut possimus in hic molestias repellendus illo ullam odit quia velit. Qui expedita sit quo, maxime molestiae.</span></p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi sapiente, consequuntur dolore praesentium non suscipit minus repudiandae, nesciunt placeat, vel nostrum magni pariatur accusantium laudantium.</p>
					</div>

				</div>
				<!-- /.First row -->

			</section>
			<!-- /.Section About -->

		</div>
		<!-- /.First container -->

		<!-- streak -->
	<div class="streak streak-lg">
    <div class="flex-center">
      <ul>
        <li><h2 class="h2-responsive wow fadeIn"><i class="fa fa-quote-left" aria-hidden="true"></i> We are stuck with technology when what we really want is just stuff that works. <i class="fa fa-quote-right" aria-hidden="true"></i></h2></li>
        <li><h5 class="text-center font-italic wow fadeIn" data-wow-delay="0.2s">~ Douglas Adams</h5></li>
      </ul>
    </div>
	</div>
		<!-- /.streak -->


		<!-- Second container -->
		<div class="container">

			<!-- Second section -->
			<section id="skills" class="section feature-box pt-3 mb-4">

				<h1 class="section-heading wow fadeIn">My skills</h1>

				<p class="section-description wow fadeIn" data-wow-delay="0.2s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet maiores aspernatur aut animi debitis. Ad excepturi dolor tempora at aperiam earum veritatis ullam. Culpa tempora possimus necessitatibus excepturi, quisquam officia.</p>

				<!-- First row -->
				<div class="row features-big wow fadeIn" data-wow-delay="0.4s">

					<div class="col-md-12 col-lg-4 mb-2">

						<i class="fa fa-wrench indigo-text" aria-hidden="true"></i>
						<h4 class="feature-title">Development</h4>
						<ul class="list-group z-depth-0 skills-table">
							<li class="list-group-item">HTML5/CSS3</li>
							<li class="list-group-item">Sass/Less</li>
							<li class="list-group-item">JavaScript</li>
							<li class="list-group-item">AngularJS</li>
							<li class="list-group-item">React</li>
							<li class="list-group-item">jQuery</li>
							<li class="list-group-item">PHP</li>
						</ul>

					</div>
					<div class="col-md-12 col-lg-4 mb-2">

						<i class="fa fa-paint-brush indigo-text" aria-hidden="true"></i>
						<h4 class="feature-title">Design</h4>
						<ul class="list-group z-depth-0 skills-table">
							<li class="list-group-item">Adobe Photoshop</li>
							<li class="list-group-item">Adobe Illustrator</li>
							<li class="list-group-item">Gimp</li>
							<li class="list-group-item">Adobe Premiere</li>
							<li class="list-group-item">Material Design</li>
							<li class="list-group-item">Responsive Web Design</li>
							<li class="list-group-item">UI/UX Design</li>
						</ul>

					</div>
					<div class="col-md-12 col-lg-4 mb-2">

						<i class="fa fa-star indigo-text" aria-hidden="true"></i>
						<h4 class="feature-title">Other</h4>
						<ul class="list-group z-depth-0 skills-table">
							<li class="list-group-item">Google Analytics</li>
							<li class="list-group-item">Marketing Automation</li>
							<li class="list-group-item">Brandflow</li>
							<li class="list-group-item">Google Tag Manager</li>
							<li class="list-group-item">SEO Optimization</li>
							<li class="list-group-item">Linux</li>
							<li class="list-group-item">Git/Svn</li>
						</ul>

					</div>

				</div>
				<!-- /.First row -->

			</section>

			<hr class="between-sections">

			<!-- Contact -->
			<section id="contact" class="section mb-4">

				<!--Section heading-->
				<h1 class="section-heading wow fadeIn">Contact me</h1>
				<!--Section sescription-->
				<p class="section-description m-b-5 wow fadeIn" data-wow-delay="0.2s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>

				<div class="row wow fadeIn" data-wow-delay="0.4s">

					<!--First column-->
					<div class="col-md-8 mb-r">
						<form>
							<!--First row-->
							<div class="row">
								<!--First column-->
								<div class="col-md-6">
									<div class="md-form">
										<div class="md-form">
											<input type="text" id="form41" class="form-control">
											<label for="form41" class="">Your name</label>
										</div>
									</div>
								</div>

								<!--Second column-->
								<div class="col-md-6">
									<div class="md-form">
										<div class="md-form">
											<input type="text" id="form52" class="form-control">
											<label for="form52" class="">Your email</label>
										</div>
									</div>
								</div>
							</div>
							<!--/.First row-->

							<!--Second row-->
							<div class="row">
								<div class="col-md-12">
									<div class="md-form">
										<input type="text" id="form51" class="form-control">
										<label for="form51" class="">Subject</label>
									</div>
								</div>
							</div>
							<!--/Second row-->

							<!--Third row-->
							<div class="row">
								<!--First column-->
								<div class="col-md-12">

									<div class="md-form">
										<textarea type="text" id="form76" class="md-textarea"></textarea>
										<label for="form76">Your message</label>
									</div>

								</div>
							</div>
							<!--/.Third row-->
						</form>

						<div class="center-on-small-only">
							<a class="btn btn-primary">Send</a>
						</div>
					</div>
					<!--.First column-->

					<!--Second column-->
					<div class="col-md-4">
						<ul class="contact-icons">
							<li><i class="fa fa-map-marker fa-2x"></i>
								<p>New York, NY 10012, USA</p>
							</li>

							<li><i class="fa fa-phone fa-2x"></i>
								<p>+ 01 234 567 89</p>
							</li>

							<li><i class="fa fa-envelope fa-2x"></i>
								<p>contact@mdbootstrap.com</p>
							</li>
						</ul>
					</div>
					<!--.Second column-->

				</div>
			</section>
			<!--/Section: Contact v.2-->

		</div>
		<!-- /.Second container -->

		<!-- Customers carousel -->

		<div class="streak">
			<div class="flex-center">
				<ul>
					<li><h1 class="h1-responsive wow fadeIn">Want to hire me?</h1></li>
					<li><h4 class="h4-responsive wow fadeIn" data-wow-delay="0.2s">Send me a message at john@example.com</h4></li>
				</ul>
			</div>
		</div>

		<!-- /.Customers carousel -->

	</main>
	<!--/Main layout-->

	<!-- Scrollspy -->
	<div class="dotted-scrollspy hidden-sm-down">
		<ul class="nav smooth-scroll flex-column">
			<li class="nav-item"><a class="nav-link" href="#home"><span></span></a></li>
			<li class="nav-item"><a class="nav-link" href="#about"><span></span></a></li>
			<li class="nav-item"><a class="nav-link" href="#skills"><span></span></a></li>
			<li class="nav-item"><a class="nav-link" href="#works"><span></span></a></li>
			<li class="nav-item"><a class="nav-link" href="#contact"><span></span></a></li>
		</ul>
	</div>

	<script>
		// initialize scrollspy
		$('body').scrollspy({
			target: '.dotted-scrollspy'
		});

		// initialize lightbox
		$(function () {
			$("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
		});

		$('#collapseEx a').click(function(e) {
			$('#collapseEx').collapse('hide');
		});

		/* WOW.js init */
		new WOW().init();

	</script>

</body>
</html>
